@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/*   ### Dark Theme */
.dark {
  --background: hsl(235, 21%, 11%);
  --header: hsl(234, 39%, 85%);
  --body: hsl(235, 24%, 19%);
  --border: hsl(235, 19%, 35%);
  --text: hsl(234, 39%, 85%);
}

.light {
  --background: hsl(236, 33%, 92%);
  --header: hsl(0, 0%, 98%);
  --body: hsl(0, 0%, 98%);
  --border: hsl(236, 9%, 61%);
  --text: hsl(235, 19%, 35%);
}
@layer base {
  html {
    font-family: "Josefin Sans", sans-serif;
  }
}
